<% if car.sell_images.attached? %>
  <% if car.sell_images.count < 2 %>
    <% car.sell_images.each do |image| %>
      <%= image_tag image.variant(resize_to_fit: [300, 225]).processed, class: "sell-image" %>
    <% end %>
  <% else %>
    <div class="swiper-container">
      <div class= "swiper-wrapper">
        <% car.sell_images.each do |image| %>
          <%= image_tag image, class: "swiper-slide" %>
        <% end %>
      </div>
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-pagination"></div>
    </div>
  <% end %>
<% end%>