<div class="index-content p-2 text-center mb-4">
  <h5 class="font-weight-bold">
    カーリンカーでは、様々なお客様と車を日々繋げるため、幅広いサービスを行っております。
  </h5>
  <span class="index-copy family">
    家族が増えてファミリーカーをお探しの方！
  </span>
  <span class="index-copy new-start">
    新生活でお手頃価格の一台をお探しの方！
  </span></br>
  <span class="index-copy loved-car">
    長年共にした愛車の買取依頼！
  </span>
</div>