<div class="container">
  <h1>出品詳細</h1>
  <% if current_customer && !(current_customer.is_guest?) %>
    <%= link_to "在庫確認・購入見積りを申し込む", new_buy_request_path(car_id: @car.id), class: "btn btn-info" %>
    
    <%= link_to new_buy_and_sell_path(car_id: @car.id) do %>
      <p class="btn btn-info">
        購入・買取</br>
        同時に申し込む
      </p>
    <% end %>
      
  <% else %>
    <%= link_to guest_login_path(car_id: @car.id, buy: Appointment.categories.key(0)), method: :post do %>
      <p class="btn btn-info">
        ゲストユーザーとして</br>
        在庫確認・購入見積りを申し込む
      </p>
    <% end %>
  
    <%= link_to guest_login_path(car_id: @car.id, buy_and_sell: Appointment.categories.key(2)), method: :post do %>
      <p class="btn btn-info">
        ゲストユーザーとして</br>
        購入・買取</br>
        同時に申し込む
      </p>
    <% end %>
  <% end %>
</div>