@use '~bootstrap/scss/bootstrap';
@import 'swiper/swiper-bundle';

swiper-container {
  width: 70%;
  height: 350px;
  background-color: rgba(0,0,0,0.8  );

  .swiper-wrapper {

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 350px;
      width: 70%;
    }
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.5);
      opacity: 0.3;
    }
  }
}