@use '~bootstrap/scss/bootstrap';

swiper-container {
  width: 70%;
  height: 350px;
  background-color: rgba(0,0,0,0.8  );

  .swiper-wrapper {

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 350px;
      width: 70%;
    }
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.5);
      opacity: 0.3;
    }
  }
}

body {
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

th {
  background-color: #F6F9FF;
}

.price {
  background-color: #FF8010;
  border: 2px solid #F37404;
}

footer {
  width: 100%;
  position: absolute;/* ←絶対位置 */
  bottom: 0;
}