/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  color: #000044;
}

body {
  width: 100%;
  height: 100vh;
  position: relative; /*フッターに対して*/
  padding-bottom: 60px; /* フッターの高さ指定 */
  box-sizing: border-box;
}

body a {
  color: #FF7722;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
  border-radius: 4px;
}

// ===================== header =======================

header {
  width: 100%;
  background: rgb(224,245,255);
  background: linear-gradient(90deg, rgba(224,245,255,1) 30%, rgba(125,223,255,1) 100%);

  .nav-link {
    margin-left: 8px;
  }

  .nav-item:hover {
    background-color: #87e1ff;
    opacity: 0.6;
    border-radius: 7px;
  }

}

.customer-name {
  text-align: center;
}

// ===================== table =======================

th {
  background-color: #F6F9FF;
}

// ===================== items =======================

.item:hover {
  transform: scale(1.05);
}

.item {
  width: 33%;
  margin-right: 5px;
  border: 1px solid #EBF4FA;
  border-radius: 2%;
  transition: transform .3s;
  background-color: #F8F8F8;

  a {
    text-decoration: none;
    color: #000044;
  }

  a:hover {
    text-decoration: none;
    color: #000044;
    background-color: #EBF4FA;
    border-radius: 4px;
    font-weight: bold;
  }

  .image {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #EBF4FA;

    .info {
      width: 100%;
    }
  }
}

// ===================== public-index =======================

.public-index {
  width: 70%;
}

.index-content {
  background-color: #F6F9FF;
  border-radius: 8px;
}

.login {
  width: 27%;
  margin-left: 3%;
  padding: 3%;
  border: 2px solid #DEF4FF;
  border-radius: 8px;
  background-color: #F8F8F8;
}

.index-items {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex: flex-wrap;
}

// ===================== show =======================

.show-images {
  width: 70%;
}

.show-info {
  width: 30%;
}

.price {
  background-color: #FF8010;
  border: 2px solid #F37404;
}

// ===================== footer =======================

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(224,245,255);
  background: linear-gradient(9deg, rgba(224,245,255,1) 19%, rgba(173,235,255,1) 100%);
}

.sns-links {
  margin: 0 auto;
}

// ===================== swiper =======================

.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

.swiper-container {
  width: 100%;
  height: 350px;
  background-color: rgba(0,0,0,0.8  );

  .swiper-wrapper {

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 350px;
      width: 70%;
    }
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.5);
      opacity: 0.3;
    }
  }
}

.alert-warning {
  background-color: #ffd9ac;
}

// ===================== buttons =======================

.btn-info {
  color: #FFFFFF;
  background-color: #FC741A;
  border-color: #FC741A;
}

.btn-info:hover,
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #FFFFFF;
  background-color: #FC741A;
  border-color: #FC741A;
}

.btn-info:focus, .btn-info.focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  color: #FFFFFF;
  background-color: #FC741A;
  border-color: #FC741A;
}

// ===================== responsive-768 =======================

@media screen and (max-width: 768.98px) {

  .search {
    width: 63%;
    text-align: start;
  }

  .customer-name {
    width: 67%;
    text-align: end;
  }

  .nav-item {
    margin: 0 auto;
  }

  .public-index {
    width: 60%;
    margin-bottom: 40px;
  }

  .login {
    width: 35%;
    margin-left: 5%;
  }

  .item {
    width: 50%;
  }

}

// ===================== responsive-425 =======================

@media screen and (max-width: 425.98px) {

  header {
    .container {
      display: flex;
      justify-content: center;
    }
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .customer-name {
    width: 76%;
    text-align: end;
  }

  .logo {
    margin: 0 auto;
  }

  .public-index {
    width: 90%;
    margin: 0 auto 40px;
  }

  .login {
    width: 80%;
    margin: 0 auto;
  }

  .item {
    width: 90%;
  }



}