/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  color: #282828;
}

body {
  width: 100%;
  position: relative; /*フッターに対して*/
  padding-bottom: 60px; /* フッターの高さ指定 */
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  // background-color: #FFFFF0;
}

body a {
  color: #FF7722;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
  border-radius: 4px;
}

.page-info {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #DCF5DC;
}

.instructions{

  ul {
    padding: 3px;
    background-color: #DCF5DC;
    border-radius: 5px;
    font-size: 12px;
    list-style-position: inside;
    list-style-type: "※";
  }
}

// ===================== header =======================

header {
  width: 100%;
  background: rgb(224,245,255);
  background: linear-gradient(90deg, rgba(224,245,255,1) 30%, rgba(125,223,255,1) 100%);

  .search {
    width: 40%;
  }

  .search-form {
    display: flex;
    flex-wrap: nowrap;
  }

  .nav-link {
    margin-left: 8px;
  }

  .nav-item:hover {
    background-color: #87e1ff;
    opacity: 0.6;
    border-radius: 7px;
  }

  .customer-name {
    text-align: center;
  }
}

// ===================== public-index =======================

.public-index {
  width: 72%;
}

.index-content {
  width: 100%;
  background-color: #DCF5DC;
  border-radius: 8px;

  .index-copy {

    border-radius: 6px;
    margin: 0 3px;
  }
  .family {
    background-color: #91e4ff;
  }

  .new-start {
    background-color: #FC741A;
  }

  .loved-car {
    background-color: #78FF09;
  }
}

.login {
  width: 25%;
  margin-left: 3%;
  padding: 2%;
  border: 2px solid #DEF4FF;
  border-radius: 8px;
  background-color: #F8F8F8;
}

.index-items {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 0.3em;
}

// ===================== items =======================

.item:hover {
  transform: scale(1.05);
}

.item {
  border: 1px solid #EBF4FA;
  border-radius: 2%;
  transition: transform .3s;
  background-color: #F8F8F8;
  font-size: 13px;


  a {
    text-decoration: none;
    color: #000044;
  }

  a:hover {
    text-decoration: none;
    color: #000044;
    background-color: #EBF4FA;
    border-radius: 4px;
    font-weight: bold;
  }

  .image {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #EBF4FA;

    .info {
      width: 100%;
    }
  }
}

// ===================== show =======================

.show-images {
  width: 70%;
  overflow: hidden;
}

.show-info {
  width: 30%;
}

.price {
  background-color: #FF8010;
  border: 2px solid #F37404;
}

// ===================== form =======================
.admin-login-form {
  width: 50%;
  margin: 0 auto;
  padding: 4%;
  background-color: #F0F0F0;
  border-radius: 8px;
}

.register-form {
  width: 90%;
  margin: 20px auto 50px;
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 8px;

  .name-group {
    width: 36%;
    padding: 0 1%;
  }

  .form-group {
    width: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
  }

  .form-label {
    width: 30%;
  }

  .head-label {
    width: 100%;
    margin-left: 15%;
  }

  .sub-label {
    width: 50%;
  }

  .input-field {
    width: 40%;
  }
}

.request-form {
  width: 50%;
  margin: 0 auto;
  background-color: #F6F9FF;
  border-radius: 7px;
  padding: 3%;

  .form-group {
    display: flex;
    justify-content: center;
  }

  .form-label {
    width: 25%;
  }

  .input-field {
    width: 65%;
  }
}

.detail-form {
  width: 50%;
}

// ===================== table =======================

th {
  background-color: #F6F9FF;
}

.word-break {
  word-break: break-all;
}

.enquiry {
  width: 60%;
  margin: 0 auto;

  th {
    text-align: center;
  }

  td {
    width: 65%;
  }
}

.sell-request-table {
  width: 65%;
  margin: 0 auto;
}

// ===================== footer =======================

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(224,245,255);
  background: linear-gradient(9deg, rgba(224,245,255,1) 19%, rgba(173,235,255,1) 100%);
}

.sns-links {
  margin: 0 auto;
}

// ===================== swiper =======================

.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

.swiper-container {
  width: 100%;
  height: 350px;
  background-color: rgba(0,0,0,0.8  );
  position: relative;

  .swiper-wrapper {

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 350px;
      width: 70%;
    }
    .swiper-slide:not(.swiper-slide-active) {
      transform: scale(0.5);
      opacity: 0.3;
    }
  }
}

.alert-warning {
  background-color: #ffd9ac;
}

// ===================== buttons =======================

.btn-info {
  color: #FFFFFF;
  background-color: #FC741A;
  border-color: #FC741A;
}

.btn-info:hover,
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #FFFFFF;
  background-color: #E86006;
  border-color: #E86006;
}

.btn-info:focus, .btn-info.focus,
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  color: #FFFFFF;
  background-color: #FC741A;
  border-color: #E86006;
}

// ===================== responsive-768 =======================

@media screen and (max-width: 768.98px) {

  .page-info {
    width: 70%;
  }

  header {
    .search {
      width: 45%;
      text-align: start;
    }

    .customer-name {
      width: 67%;
      text-align: end;
    }

    .nav-item {
      margin: 0 auto;
    }
  }

  .public-index {
    width: 60%;
    margin-bottom: 40px;
  }

  .index-items {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .login {
    width: 35%;
    margin-left: 5%;
  }

  .register-form {

    .name-group {
      width: 44%;
      padding: 0 1%;
    }

    .form-label {
      width: 35%;
    }

    .head-label {
      width: 85%;
      margin: 0 auto;
    }

    .input-field {
      width: 50%;
    }
  }

  .request-form {
    width: 70%;
  }

  .detail-form {
    width: 70%;
  }

  .admin-login-form {
    width: 60%;
  }

}

// ===================== responsive-425 =======================

@media screen and (max-width: 425.98px) {

  .page-info {
    width: 100%;
  }

  header {
    .container {
      display: flex;
      justify-content: center;
    }

    .search {
      width: 70%;
      padding: 5px 0;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    .customer-name {
      width: 76%;
    }
  }

  .logo {
    margin: 0 auto;
  }

  .public-index {
    width: 90%;
    margin: 0 auto 40px;
  }

  .login {
    width: 80%;
    margin: 0 auto;
  }

  .index-items {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .register-form {

    .name-group {
      width: 50%;
      padding: 0 1%;
    }

    .form-label {
      width: 40%;
    }

    .head-label {
      width: 100%;
    }

    .input-field {
      width: 60%;
    }
  }

  .request-form {
    width: 100%;

  }

  .detail-form {
    width: 100%;
  }

  .admin-login-form {
    width: 90%;
  }

  .actions .btn {
    width: 100%;
    margin-top: 10px;
  }

  .table {
    width: 100%;
  }

}
