<% if flash[:notice] %>
  <p class="alert alert-warning font-weight-bold text-center"><%= notice %></p>
<% elsif flash[:alert] %>
  <p class="alert alert-danger font-weight-bold text-center"><%= alert %></p>
<% end %>