<footer class="shadow d-flex justify-content-center">
  <div class="admin-login">
    <%= link_to new_admin_session_path, class: "btn text-decoration-none" do%>
      <i class="fa-solid fa-user-shield"></i>
    <% end %>
  </div>
  <div class="sns-links">
    <%= link_to "#", class: "btn text-decoration-none" do %>
      <i class="fa-brands fa-x-twitter fa-xl" style="color: #000044;"></i>
    <% end %>
    <%= link_to "#", class: "btn text-decoration-none" do %>
      <i class="fa-brands fa-instagram fa-xl" style="color: #000044;"></i>
    <% end %>
    <%= link_to "#", class: "btn text-decoration-none" do %>
      <i class="fa-brands fa-facebook fa-xl" style="color: #000044;"></i>
    <% end %>
  </div>
</footer>
