<%= form_with url: root_path, method: :get do |f| %>
  <div class="form-group row">
    <%= f.text_field :word, placeholder: "Search" %>
    <%= button_tag type: "submit", class: "btn btn-light" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>

  </div>
<% end %>
