<%= form_with url: root_path, method: :get do |f| %>
  <div class="form-group row">
    <div>
      <%= f.text_field :word, placeholder: "Search", class: "form-control" %>
    </div>
    <div>
      <%= button_tag type: "submit", class: "btn btn-light" do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #0000b0;"></i>
      <% end %>
    </div>
  </div>
<% end %>