<div class="search pt-3">
  <%= form_with url: root_path, method: :get do |f| %>
    <div class="form-group row">
      <%= f.text_field :word %>
      <%= f.button type: "submit" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
  <% end %>
</div>